__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg
*.swp
*.swo
*.db
*.log
*.tmp
*.bak
*.bak2
*.bak3
*.bak4
*.bak5
*.bak6
*.bak7
*.bak8
*.bak9
*.bak10
*.bak11
*.bak12
*.bak13
*.bak14

.env
GoogleADKpython.xml
repomix-output.xml